@charset "UTF-8";

@import "libs.scss";
@import "mixins.scss";

body {
  background: #eee;
  overflow-x: hidden;
}

header {
  height: 110px;
  padding: 30px 0;

  * {
    color: $brand-primary;
  }

  a.navbar-brand {
    background: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-size: 75px;
    width: 75px;
    font-size: 0;

    &:hover {
      animation: 0.7s linear infinite;
      @include animation-keyframes {
        0% {
          transform: rotate(4deg) scale(1);
        }
        25% {
          transform: scale(0.95);
        }
        50% {
          transform: rotate(-4deg) scale(1.2);
        }
        75% {
          transform: scale(0.95);
        }
        100% {
          transform: rotate(4deg) scale(1);
        }
      }
    }
  }

  .navbar-header {
    padding-right: 10px;
  }

  ul.nav {
    margin-left: 7px;

    li a {
      display: inline-block;

      span {
        display: block;
        background-repeat: repeat-x;
        background-size: 15px 2px;
        background-position: 0px 100%;
      }

      &:hover {
        background: transparent;
        animation: 0.7s linear infinite;
        @include animation-keyframes {
          0% {
            transform: rotate(2deg) scale(1);
          }
          25% {
            transform: scale(0.95);
          }
          50% {
            transform: rotate(-2deg) scale(1.06);
          }
          75% {
            transform: scale(0.95);
          }
          100% {
            transform: rotate(2deg) scale(1);
          }
        }
        span {
          background-image: linear-gradient(90deg, $brand-primary 66%, transparent 66%);
          animation: 0.7s linear infinite;
          @include animation-keyframes {
            0% {
              background-position: 0px 100%;
            }
            100% {
              background-position: 32px 100%;
            }
          }
        }
      }
    }

    li.active a span {
      background-image: linear-gradient(90deg, $brand-primary 66%, $brand-primary 66%)!important;
    }
  }
}

div.page {
  background: white;
  padding: 20px 0 50px 0;

  h1, h2, h3, h4 {
    font-weight: normal;
  }
}

span.author {
  text-decoration: underline;
}

ul.article-list {
  margin: 0 -15px;
  list-style: none;
  padding: 0;

  li {
    margin: 15px 0;
    padding: 0 15px;
  }
}

div.article-box {
  background-size: cover;
  height: 200px;
  position: relative;

  &.article-box-wide {
    height: 120px;
  }

  div.shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
  }

  p.meta {
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 15px;
  }

  p.title {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 200;
  }

  div.summary {
    font-style: italic;
  }

  &.article-box-dark {
    background: #aaa;
    text-shadow: 0px 0px 2px black;
    div.shadow { background: rgba(0, 0, 0, 0.5); }
    * { color: white; }
  }
}

div.article {
  div.header {
    margin: -20px 0 40px 0;
    height: 200px;
    padding-top: 35px;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;

    &.header-dark {
      background: #333;
      color: white;
      text-shadow: 1px 1px 3px black;
      a { color: white; }
    }
  }
}

footer {
  padding: 10px 0;
  font-size: 0.9em;
}
