language: python
python: 2.7
install:
  - "pip install -U pip"
  - "pip install git+https://github.com/lektor/lektor#egg=Lektor"
script:
  - "lektor build"
cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/lektor/builds
deploy:
  provider: script
  script: lektor deploy production
  on:
    branch: master
addons:
  ssh_known_hosts: flow.srv.pocoo.org
