{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <link rel="alternate" type="application/atom+xml" title="Atom Feed für Gschriebenes" href="{{ '@atom/articles'|url }}">
{% endblock %}
{% from "macros/article.html" import render_article_box %}
{% block title %}Gschreibsl{% endblock %}
{% block body %}
  <h1>Gschreibsl</h1>
  <p
    >Das wurde hier bis jetzt zu Papier gebracht. Lesen kann man es hier
    oder auf Wusch auch via <a href="{{ '@atom/articles'|url }}">Atom Feed</a>.
  <ul class="article-list">
  {% for child in this.children %}
    <li>{{ render_article_box(child, style='wide') }}
  {% endfor %}
  </ul>
{% endblock %}
