<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/styles.css'|url }}">
<link href="/static/favicon.png" rel="shortcut icon" type="image/png">
<script src="/static/app.js"></script>
<title>{% block title %}Servus{% endblock %} — Das Gfraster</title>
{%- block head %}{% endblock %}
<body class="{% block bodyclass %}{% endblock %}">
  <header>
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ '/'|url }}">Das Gfraster</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav">
            <li{% if this._path == '/' %} class="active"{% endif
              %}><a href="{{ '/'|url }}"><span>Servus</span></a>
            {% for target, title in [
              ['/articles', 'Gschreibsl'],
              ['/authors', 'Federführer'],
              ['/about', 'Über das Gfraster'],
              ['/en', 'English']
            ] %}
            <li{% if this.is_child_of(target) %} class="active"{% endif
              %}><a href="{{ target|url }}"><span>{{ title }}</span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="page">
    {% block non_container_body %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    {% endblock %}
  </div>
  <footer>
    <div class="container">
      &copy; Copyright 2016 by Das Gfraster
      {% if this._path %}
      &middot;
      <a href="https://github.com/mitsuhiko/das-gfraster/commits/master/content{{ this._path.rstrip('/') }}/contents.lr">Änderungsgeschichte</a>
      {% endif %}
      &middot; <a href="/imprint">Impressum</a>
    </div>
  </footer>
</body>
